$start-gradient: #6cf;
$end-gradient: #fce17e;
$footer-color: #fff;
$highlight-color: #0b9444;

$footer-background-color: transparentize($footer-color, 1);

@import '~bulma/bulma';

.gradient {
  background: linear-gradient(to bottom right, $start-gradient, $end-gradient);
}

.highlight {
  color: $highlight-color;
  font-weight: 900;
}
